
.pointer {
  cursor: pointer;
}
.active span{
    margin:1px;
    padding:1px;
    background-color: yellow;
}
.ant-modal-footer{
  display: none;
} 

.ant-select-selector{
  height: 50px !important;
}
.ant-select-selection-placeholder, .ant-select-selection-item{
  margin-top: 5px;
}
.btn-square{
  border-radius: 0;
}

.marginTop {
  margin-top: 20px;
}